<form [formGroup]="questionForm" (ngSubmit)="onSubmit()" class="needs-validation bg-light p-4 rounded" novalidate>
  <div class="mb-3">
    <h1 class="text-centre">Welcome to the create Question</h1>
    <label for="description" class="form-label">Question:</label>
    <input type="text" class="form-control shadow-sm" id="description" formControlName="description" required>
    <div class="invalid-feedback">
      Please provide a description for the question.
    </div>
  </div>
  <div formArrayName="alternatives">
    <div *ngFor="let alternative of questionForm.get('alternatives').controls; let i = index" class="mb-3 p-3 bg-white rounded shadow-sm">
      <div [formGroupName]="i">
        <label for="text{{ i }}" class="form-label">
          Alternative {{ i + 1 }}:
        </label>
        <input type="text" class="form-control" id="text{{ i }}" formControlName="text" required>
        <div class="invalid-feedback">
          Please provide a text for the alternative.
        </div>
        <div class="form-check mt-2">
          <input class="form-check-input" type="checkbox" id="isCorrect{{ i }}" formControlName="isCorrect">
          <label class="form-check-label" for="isCorrect{{ i }}">Is Correct</label>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
