<!-- <router-outlet></router-outlet> -->
<div class="container mt-3">
   <div class="wrapper d-flex">
    <div class="btn-group ms-auto" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-primary" routerLink="practise/math">Math</button>
        <button type="button" class="btn btn-outline-primary" routerLink="physics">Physics</button>
        <button type="button" class="btn btn-outline-primary" router-link="computer">Computer</button>
        <button type="button" class="btn btn-outline-primary" router-link="chemistry">Chemistry</button>
      </div>
   </div>
</div>

